.custom-width {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.img-custom {
    max-width: 100px;
    width:100%;
}

.img-custom-sm {
    width: 50px;
    height: 50px;
}

.sm-div {
    width: 60%;
    float: left;
}

.lg-div {
    width: 95%;
    float: left;
}

.cog-div {
    width: 5%;
    float: left;
}

.form-rounded {
    border-radius: 1rem;
}

.bg-tuiter {
    color: white;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}

.custom-text-size{
    font-size: .9em;
}

.float-right {
    float: right !important;
}