/*reference: https://www.w3schools.com/css/css_link.asp for the hyperlink styling*/

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
}

.wd-grid-row {
    clear: both;
}

.wd-grid-col-50-page {
    width: 50%;
    float: left;
}

.wd-grid-col-85-page {
    width: 85%;
    float: left;
}

.wd-grid-col-5-page {
    width: 5%;
    float: left;
}

.wd-gap {
    padding: 10px;
}

/* unvisited link */
a:link {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(110, 118, 125);
    text-decoration: none;
}